<!DOCTYPE html>
<html>
<head>
	<title>Fargo Moorhead Soccer</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>

<div id="navbar">
	<div class="navContent">
		<li><a href="/">FM Soccer</a></li>
		<span id="navright">
			<li><a href="/player/new">Sign Up</a></li>
			<li><a href="/schedule">Schedule</a></li>
			<li><a href="/rules">Rules</a></li>
			<li><a href="/playerlist">Player List</a></li>
			<li><a href="/teams">Teams</a></li>
		</span>
	</div>
</div>
