<% include partials/header %>


<div id="cover">
	<h1><span>FARGO MOORHEAD RECREATIONAL SOCCER</span></h1>
	<div>
		<a href="/player"><button id="signin">Sign In</button></a>
	</div>
</div>



<% include partials/footer %>