<% include partials/header %>

<div class="signup">
	<h2>Sign Up</h2>
	<form action="/player" method="POST">
		<div>
			<span class="form-label">First Name:</span>
			<input type="text" name="user[firstName]" placeholder="First Name">
		</div>
		<div>
			<span class="form-label">Last Name:</span>
			<input type="text" name="user[lastName]" placeholder="Last Name">
		</div>
		<div>
			<span class="form-label">email:</span>
			<input type="text" name="user[username]" placeholder="Email">
		</div>
		<div>
			<span class="form-label">password:</span>
			<input type="password" name="user[password]" placeholder="Password">
		</div>
				<div>
			<span class="form-label">phone:</span>
			<input type="text" name="user[phone]" placeholder="Phone Number">
		</div>
		<button class="register">Submit</button>
	</form>
</div>

<% include partials/footer %>