<% include partials/header %>


<div id="rules">

<h2>Soccer Rules</h2>
	<p>
		Soccer’s rules and regulations are maintained and updated annually by the International Football Association Board (IFAB). The board consists of eight members, four of which come from FIFA, and the other four coming from England, Scotland, Northern Ireland, and Wales – all countries that contributed to the development of the sport. FIFA’s most recently published rule book is 140 pages long, which is a bit ambitious for the casual player who is just becoming familiarized with the game. For this reason, we have prepared a simplified version below that should allow you to learn the basic rules of soccer. It is also important to note that although FIFA publishes an established set of rules, they are often modified by national and regional leagues and organizations. With that, you should ensure that you inquire with your coach, fellow players or league manager regarding any rules that deviate from the norm.
	</p>
	<h3>Laws of the Game</h3>
	<h5>
		IFAB currently acknowledges 17 laws of soccer that are the standard for any professional or international match played. They are as follows:
	</h5>
	<h4>Law 1: Field of Play</h4>
	<p>
		Soccer can be played on either grass or artificial turf, but the surface must be green in color. The field must be rectangular in shape, and distinctly marked by two short goal lines and two long-touch lines. The field is divided into halves, separated by the halfway line, which runs from the midpoints of each touchline. At the midpoint of the halfway line is a marked center point surrounded by a lined center circle with a radius of 10 yards. Opposing players are not allowed to enter this circle during the possessing team’s kick-off. The length of the touch line must be greater than the length of the goal line.

		<h5>Regulation lengths are:</h5>
		<ul>
			<li>
				Touch line: Minimum 90 meters (100 yards), maximum 120 meters (130 yards)
			</li>
			<li>
				Width (goal line): Minimum 45 m (50 yds), maximum 90 m (100 yds).
			</li>
			<li>
				At each end of the field is an eight-yard-wide goal centered along the goal line.
			</li>
			<li>
				Six yards from each goal post along the goal line and six yards out into the field (perpendicular to the goal line) is the goal box.
			</li>
			<li>
				Extending 18 yards from each goal post along the goal line and 18 yards out into the field (perpendicular to the goal line) is the penalty box.
			</li>
			<li>
				In each of the four corners of the field is a five-foot-high corner flag.
			</li>
		</ul>
	</p>
	<h4>Law 2: The Ball</h4>
	<p>
		A soccer ball must be spherical in shape and made of leather or another comparable medium. Its circumference must be in the range of 27 to 28 inches. This rule is only applicable for official sanctioned matches, as youth leagues often employ the use of a smaller ball that is better suited to children.
	</p>
	<h4>Law 3: The Number of Players</h4>
	<p>
		Matches are generally played by two teams of 11 to a side. The goalkeeper is included in the 11-player total. If a team cannot field at least seven players at match time, the game is a forfeit. Teams of fewer than 11 a side can often be seen in youth leagues where smaller teams are used as a developmental tool. FIFA-sanctioned matches are generally limited to three substitutions per match, with the exception of friendly matches. Most youth leagues allow an unlimited number of substitutions, which must also be listed on the game card prior to the beginning of the match, otherwise those players are ineligible. Substitutions may only enter at the halfway line, upon the referee’s approval, and after the player being subbed out has left the pitch. The goalkeeper may be substituted with anyone on the pitch or any eligible substitute on the bench during a game stoppage.
	</p>
	<h4>Law 4: The Players' Equipment</h4>
	<p>
		All players are required to wear a jersey, shorts, shin guards, socks and cleats. The socks must cover the shin guards entirely. If the referee deems a player’s equipment unsatisfactory, the player can be sent off until the issue is remedied.
	</p>
	<h4>Law 5: The Referee</h4>
	<p>
		The referee is the authority on the field, and his word is law. If you question a referee’s decision, you can be disciplined further simply for dissent.
	</p>
	<h4>Law 6: The Assistant Referees</h4>
	<p>
		The assistant referees are primarily responsible for assisting the referee in performing his duties – this includes signaling with a flag when a ball goes of play, when a player is fouled, or when a player is in an offside position.
	</p>
	<h4>Law 7: The Duration of the Match</h4>
	<p>
		A soccer match is comprised of two 45-minute halves, with extra time added for each at the referee’s discretion. The halves are separated by a half-time period not to exceed 15 minutes. The extra time generally corresponds with the referee’s determination of how much time was taken up due to substitutions and injuries. The amount of extra time is announced and displayed at the half line at the end of each 45-minute period. Although soccer does have an allotted time limit, it is ultimately up to the referee’s as to when to end a match.
	</p>
	<h4>Law 8: The Start and Restart of Play</h4>
	<p>
		Kick-off is generally determined by a coin toss, whereby the winning team can either choose to start with the ball or choose which goal they would like to attack. The losing team is then afforded whatever choice the winner does not elect to take. Kick-off occurs at the start of each half, and after each goal scored, and is taken at the center of the halfway line. If a team scores a goal, the opposing team is given the kick-off to restart the match.
	</p>
	<h4>Law 9: The Ball In and Out of Play</h4>
	<p>
		The ball is out of play when it fully crosses either the goal line or the touch line. It is also out of play if the referee stops play for any reason. If, for any reason, the ball strikes the frame of the goal or the referee and remains within the goal and touch lines, it is still in play.
	</p>
	<h4>Law 10: The Method of Scoring</h4>
	<p>
		A goal is scored when the entire ball has crossed the goal line within the frame of the goal. At the end of the match, the team with the most goals is the winner, barring the circumstantial necessity for extra time.
	</p>
	<h4>Law 11: Offside</h4>
	<p>
		When an attacking player receives the ball while on his opponents half, he must be level or behind the second to last defender (the last typically being the goalkeeper). However, this rule only applies if he is involved with the play. To get a better understanding of the offside rule, please see the guide section for a more detailed explanation.
	</p>
	<h4>Law 12: Fouls and Misconduct</h4>
	<p>
		<h5>A direct free kick is awarded when a player:</h5>
		<ul>
			<li>Kicks or attempts to kick an opponent</li>
			<li>Trips or attempts to trip an opponent</li>
			<li>Jumps at an opponent</li>
			<li>Charges an opponent</li>
			<li>Strikes or attempts to strike an opponent</li>
			<li>Pushes an opponent</li>
			<li>Tackles an opponent</li>
			<li>Holds an opponent</li>
			<li>Spits at an opponent</li>
			<li>Handles the ball deliberately</li>
		</ul>
	</p>
	<p>
		<h5>If any of these are fouls are committed by a player in their team’s penalty area, the opposing team is awarded a penalty kick. Indirect free kicks are awarded if a player:</h5>
		<ul>
			<li>Plays in a dangerous manner</li>
			<li>Impedes the progress of an opponent</li>
			<li>Prevents the goalkeeper from releasing the ball from his/her hands</li>
			<li>Commits any other unmentioned offense</li>
		</ul>
	</p>
	<p>
		<h5>Yellow cards are awarded as a caution or warning to a player and can be issued for the following offenses:</h5>
		<ul>
			<li>Unsporting behavior</li>
			<li>Dissent by word or action</li>
			<li>Persistent infringement of the Laws of the Game</li>
			<li>Delaying the restart of play</li>
			<li>Failure to respect the required distance when play is restarted with a corner kick,free kick, or throw-in</li>
			<li>Entering or re-entering the field of play without the referee’s permission</li>
			<li>Deliberately leaving the field of play without the referee’s permission</li>
		</ul>
	</p>
	<p>
		<h5>Red cards are used to send a player off the field, and can be issued for the following offenses:</h5>
		<ul>
			<li>Serious foul play</li>
			<li>Violent conduct</li>
			<li>Spitting at an opponent or any other person</li>
			<li>Denying the opposing team a goal or an obvious goal-scoring opportunity by deliberately handling the ball (the goalkeeper being an exception)</li>
			<li>Denying an obvious goal-scoring opportunity to an opponent moving towards the player’s goal by an offense punishable by a free kick or a penalty kick</li>
			<li>Using offensive or abusive language and/or gestures</li>
			<li>Receiving a second caution (yellow card) in the same match</li>
		</ul>
	</p>
	<h4>Law 13: Free Kicks</h4>
	<p>
		Free Kick is broken into two categories, direct and indirect. A direct kick can be shot directly into the opponent’s goal without touching another player. An indirect free kick is indicated by the referee raising his hand during the kick. An indirect kick can only go into the goal if it has subsequently been touched by another player before it enters the goal. The ball must be stationary for both types of kicks.
	</p>
	<h4>Law 14: The Penalty Kick</h4>
	<p>
		A penalty kick is awarded either when a defensive player fouls an attacking player or commits a handball in his/her team’s penalty area. The penalty kick is placed at the penalty spot, and all players on both teams must remain outside the penalty box during the shot. They may enter the box immediately after the shot is taken. The goalkeeper may move horizontally along the goal line before the shot is taken, but he may not come off the line until the ball is struck.
	</p>
	<h4>Law 15: The Throw-In</h4>
	<p>
		A throw-in is awarded when the possessing team plays the ball out of bounds over the touchline. While taking a throw-in, a player must release the ball with both hands simultaneously and keep both feet firmly planted on the ground. If these conditions are not met, play is stopped and the throw-in is given to the opposing team. Players are not allowed to score directly off a throw-in.
	</p>
	<h4>Law 16: The Goal Kick</h4>
	<p>
		A goal kick is awarded when the offensive team plays the ball out of bounds over the defensive team’s goal line. After the ball is out of play, the defender or goalkeeper may place the ball anywhere within the six-yard goal box and kick the ball back into play.
	</p>
	<h4>Law 17: The Corner Kick</h4>
	<p>
		A corner kick is awarded to the offensive team when the defensive team plays the ball out of bounds over its goal line. The ball is placed within the corner area and is kicked back into play by the offensive team. Players can score directly off a corner kick.
	</p>
</div>



<% include partials/footer %>