<% include partials/header %>

<p>
	<strong>Team Name: </strong><%= team.name %> 
	<strong>Team Captain: </strong><%= team.captain %>
	<strong>Season: </strong><%= team.season %>
</p>


<% include partials/footer %>